@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">This is a list of Product</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @foreach(var product in Model.Products) {
        <div>@product.ProductID</div>
        <div>@product.ProductName</div>
        <div>@product.Quantity</div>
    }
</div>
